################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/newrepo/FileContentIndex/407c8a40-3dbf-4a11-a6d8-50a36b28de76.vsidx
/.vs/newrepo/FileContentIndex/23ab78f0-8955-4fa6-ad1a-267c7d27d539.vsidx
